<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somos Forró</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<header>
    <h1>Somos Forró</h1>
    <nav>
        <ul>
            <li><a href="/app">Home</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Eventos</h2>
    <section class="filter-section">
        <section class="filter">
            <h2>Filtro</h2>
            <form>
                <div>
                    <label for="cidade">Cidade:</label>
                    <input type="text" id="cidade" name="cidade">
                </div>
                <div>
                    <label for="data">Data:</label>
                    <input type="date" id="data" name="data">
                </div>
                <button type="submit">Filtrar Eventos</button>
            </form>
        </section>
    </section>
    <section>
        <ul class="card-list">
            {{ range .eventos }}
            <li class="card-item">
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">{{ .Title }}</h3>
                        <p class="card-info">Data: {{ .Data }}</p>
                        <p class="card-info">Cidade: {{ .Cidade }}</p>
                        <p class="card-description">Descrição: {{ .Descricao }}</p>
                        <div class="card-button-container">
                            <a href="#" class="card-button">Ver Evento</a>
                        </div>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
    </section>
</main>
<footer>
    <p>&copy; 2023 Somos Forró</p>
</footer>
</body>
</html>